.searchBox {
  position: relative;
  display: flex;
  align-items: center;
  input {
    padding-left: 40px;
  }
}

.icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #717171;
  position: relative;
  border-radius: 100%;
  position: absolute;
  top: 30%;
  left: 12px;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -5px;
    bottom: -3px;
    background: #717171;
    width: 7px;
    height: 2px;
    transform: rotate(45deg);
  }
}
