.grid {
  flex-wrap: wrap;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: -10px;
  a {
    color: $primary;
  }
}
.gridWrapper {
  display: flex;
}
.gridContent {
  flex-grow: 1;
}
.gridTitle h1 {
  display: flex;
  align-items: center;
}
.count {
  font-size: 14px;
  padding-left: 5px;
  color: $grey;
  font-weight: 300;
}
.item {
  width: 32%;
}
.itemInner {
  padding: 20px;
  border-radius: 2px;
  background: white;
  box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  transition: .1s ease-out;
  position: relative;
  &:hover {
    box-shadow: 0 2px 1px rgba(170, 170, 170, 0.45);
    transform: scale(1.03);
    transition: .1s ease-out;
  }
}
.itemMeta {
  position: absolute;
  font-size: 10px;
  right: 8px;
  top: 5px;
  color: #838282;
}
.itemTitle {
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 18px;
  a {
    text-decoration: none;
  }
}
.itemDescription {
  font-size: 14px;
  margin-bottom: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.itemTags {
  font-size: 12px;
  color: #838282;
}

.noResults {
  padding-left: 20px;
  li {
    cursor: pointer;
  }
}

@media (max-width: 1120px) {
  .item {
    width: 33%;
  }
}
@media (max-width: 768px) {
  .item {
    width: 50%;
  }
  .itemInner {
    padding: 0px;
  }
  .count {
    font-size: 12px;
    padding-left: 5px;
    color: $grey;
    font-weight: 300;
  }
}
@media (max-width: 620px) {
  .item {
    width: 100%;
  }
}
