.wrapper {
  padding-top: 30px;
  background: $secondary;
}
.content {
  padding-left: 70px;
  p, ul {
    max-width: 720px;
  }
  h2 {
    font-weight: 300;
    color: #414141;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 25px;
    padding-right: 20px;
  }
  .content {
    padding-left: 0px;
    padding-right: 10px;
  }
}
