.link {
  padding: 10px 20px;
  border-radius: 2px;
  background: white;
  box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /*transition: transform .1s ease-out, box-shadow .1s ease-out;*/
  transition: .1s ease-out;
  position: relative;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
  &:hover {
    box-shadow: 0 2px 1px rgba(170, 170, 170, 0.45);
    color: $primary;
    transform: scale(1.005);
    transition: .1s ease-out;
    /*transition: transform .1s ease-out, box-shadow .1s ease-out;*/
  }
}
.count {
  font-size: 14px;
  padding-left: 5px;
  color: $grey;
  font-weight: 300;
}
.tutorial {
  max-width: 80%;
}
.title {
  font-weight: 600;
}
.description {
  font-size: 13px;
  color: #000;
}
.date {
  font-size: 14px;
  color: $grey;
}

@media (max-width: 768px) {
  .tutorial {
    max-width: 100%;
  }
  .link {
    flex-direction: column;
    align-items: flex-start;
  }
  .date {
    font-size: 12px;
  }
}
