.wrapper {
  padding-top: 30px;
  background: $secondary;
}
.content {
  padding-left: 30px;
  p, ul {
    max-width: 720px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}
.tag {
  padding: 5px;
  cursor: pointer;
  color: $grey;
  font-weight: 300;
  font-size: 16px;
}
.current {
  color: black;
  font-weight: 500;
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content {
    padding-left: 10px;
    h1 {
      font-size: 16px;
    }
  }
  .tagWrapper {
    display: none;
  }
}
