.wrapper {
  padding-top: 30px;
  background: $secondary;
}
.content {
  padding-left: 30px;
  p, ul {
    max-width: 720px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  max-width: 95%;
}
.tag {
  padding: 5px;
  cursor: pointer;
  color: $grey;
  font-weight: 300;
  font-size: 14px;
}
.current {
  color: black;
  font-weight: 500;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  margin-right: 65px;
  h1 {
    margin-bottom: 0px;
  }
  a {
    text-decoration: none;
    margin-left: 20px;
  }
}
.count {
  font-size: 14px;
  padding-left: 5px;
  color: $grey;
  font-weight: 300;
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content {
    padding-left: 10px;
    h1 {
      font-size: 16px;
    }
  }
  .title {
    margin-right: 5px;
  }
  .tagWrapper {
    display: none;
  }
}
