$sidebarWidth: 23%;

.wrapper {
  min-height: 100vh;
  background: #fff;
  position: relative;
  display: flex;
  padding-top: 0px;
  justify-content: flex-start;
}

.links {
  margin-top: 10px;
  a {
    display: block;
    padding: 5px 0px;
  }
}
.content {
  flex-grow: 1;
  width: 77%;
  min-width: 77%;
  background: $secondary;
  min-height: 100vh;
  h1:first-of-type {
    margin-top: 0px;
  }
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
}

@media (max-width: 720px) {
  
}
